<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
  <section id="inputstream.airplay">
    <category id="general" label="30000">
      <group id="1">
        <setting id="hls" type="boolean" label="30001" help="30002">
          <level>0</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>
        <setting id="volumecontrol" type="boolean" label="30003" help="30004">
          <level>0</level>
          <default>true</default>
          <control type="toggle"/>
        </setting>
        <setting id="password" type="string" label="30005" help="30006">
          <level>0</level>
          <default></default>
          <control type="edit" format="string">
            <heading>30005</heading>
            <hidden>true</hidden>
          </control>
        </setting>
        <setting id="lowlatency" type="boolean" label="30007" help="30008">
          <level>0</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>
        <setting id="mirroraudio" type="boolean" label="30009" help="30010">
          <level>0</level>
          <default>true</default>
          <control type="toggle"/>
        </setting>
        <setting id="liveedgemargin" type="integer" label="30011" help="30012">
          <level>0</level>
          <default>100</default>
          <constraints>
            <minimum>0</minimum>
            <step>50</step>
            <maximum>1000</maximum>
          </constraints>
          <control type="slider" format="integer">
            <popup>false</popup>
            <formatlabel>30013</formatlabel>
          </control>
        </setting>
        <setting id="mirroring" type="boolean" label="30014" help="30015">
          <level>0</level>
          <default>true</default>
          <control type="toggle"/>
        </setting>
        <setting id="pairing" type="boolean" label="30016" help="30017">
          <level>0</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>
        <setting id="forgetdevices" type="action" label="30018" help="30019">
          <level>0</level>
          <data>RunScript(inputstream.airplay,forget)</data>
          <control type="button" format="action">
            <close>false</close>
          </control>
        </setting>
        <setting id="debuglog" type="boolean" label="30020" help="30021">
          <level>2</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>
      </group>
    </category>
  </section>
</settings>
