# build artifacts
build/
inputstream.airplay/addon.xml

# Debian build files
debian/changelog
debian/files
debian/*.log
debian/*.substvars
debian/.debhelper/
debian/tmp/
debian/kodi-inputstream-*/
obj-*-linux-gnu/

# editors
*.swp
*~
.idea/
.vscode/
compile_commands.json

# Python bytecode
__pycache__/
